@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Karla:wght@400;700&display=swap');

:root{
--Strong-Cyan: hsl(171, 66%, 44%);
--Light-Blue: hsl(233, 100%, 69%);
--Dark-Grayish-Blue: hsl(210, 10%, 33%);
--Grayish-Blue: hsl(201, 11%, 66%);
}
//reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    height: 100vh;
}

p {
    color: var(--Grayish-Blue);
}

h1, h2, h3 {
    font-weight: 600;
}

//button
.btn-cyan {
    background-color: var(--Strong-Cyan);
    color: white;
    padding: 1rem;
    //dark bottom border
    border-bottom: 5px solid darkcyan;
    border-top: none;
    border-left: none;
    border-right: none;
    //box-shadow
    box-shadow: 0 10px 20px hsl(171, 71%, 45%), 0 6px 6px hsl(171, 71%, 45%);
}

//btn-cyan hover state
.btn-cyan:hover {
    opacity: 0.6;
    cursor: pointer;

}

.btn-blue {
    background-color: var(--Light-Blue);
    color: white;
    padding: 1rem;
     //dark bottom border
     border-bottom: 5px solid hsl(233, 65%, 52%);
     border-top: none;
     border-left: none;
     border-right: none;
     //box-shadow
     box-shadow: 0 10px 20px hsl(233, 73%, 63%), 0 6px 6px hsl(233, 73%, 63%);
}

.btn-blue:hover {
    opacity: 0.6;
    cursor: pointer;

}

.background {
    background-image: url(./images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.footer-text {
    color: var(--Dark-Grayish-Blue);
}

.icons:hover {
    cursor: pointer;
    filter: invert(0) sepia(1) saturate(14.5) hue-rotate(82.8deg) brightness(1.09);
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

//media query for 900px
@media screen and (min-width: 900px) {
    .background {
        background-image: url(./images/bg-header-desktop.png);
    }

}